<!-- Navigation Links -->
<ul class="navbar-list">
    <li class="navbar-item"><a href="#header">
            <%= __('Inicio')%>
        </a></li>
    <li class="navbar-item"><a href="#working-experience">
            <%= __('Experiencia Laboral')%>
        </a></li>
    <li class="navbar-item"><a href="#languages">
            <%= __('Idiomas')%>
        </a></li>
    <li class="navbar-item"><a href="#studies">
            <%= __('Formación')%>
        </a></li>
    <li class="navbar-item"><a href="#more-data">
            <%= __('Otros Datos')%>
        </a></li>
    <li class="navbar-item"><a href="#contact">
            <%= __('Contacto')%>
        </a></li>
</ul>