<%- include('../partials/header'); %>
    <ul class="navbar-list">
        <li class="navbar-item"><a href="/">
                <%= __('Currículum')%>
            </a></li>

        <li class="navbar-item"><a href="#contact">
                <%= __('Contacto')%>
            </a></li>
    </ul>
    </nav>
    <header class="header-exp">
        <h1>
            <%= __('Hostelería')%>
        </h1>
    </header>
    <main class="work-exp">

        <section class="work">
            <div class="profession">
                <h2><%= __('Administración')%></h2>
                <div class="company"><img src="images/detail/princesayaiza.jpg" alt="princesayaiza">
                    <h3 class="name">Princesa Yaiza Suite Hotel Resort *****L</h3>
                    <p class="description"><%= __('descripción administracion')%></p>
                    <h3>
                        <%= __('Funciones principales:')%>
                    </h3>
                    <ul>
                        <li><%= __('Trabajo con hojas de cálculo para resúmenes mensuales')%></li>
                        <li><%= __('Coordinación con el departamento comercial en los cobros a los clientes directos de Tour-Operadores')%></li>
                        <li><%= __('Coordinación con el departamento de compras para los pagos a diferentes proveedores')%></li>
                        <li><%= __('Encargado de gestión de los sueldos del personal')%></li>
                    </ul>
                    <p class="date-place">08/2012 – 10/2012 - Lanzarote</p>
                </div>
            </div>
        </section>
        <section class="work">
            <div class="profession">
                <h2><%= __('Recepción')%></h2>
                <div class="company"><img src="images/detail/princesayaiza.jpg" alt="princesayaiza">
                    <h3 class="name">Princesa Yaiza Suite Hotel Resort *****L</h3>
                    <p class="description"><%= __('descripción recepcion')%></p>
                    <h3>
                        <%= __('Funciones principales:')%>
                    </h3>
                    <ul>
                        <li><%= __('Trabajo con hojas de cálculo para el pricing a los clientes y la contabilidad interna del departamento')%></li>
                        <li><%= __('Coordinación de las llegadas y salidas con los diferentes servicios de Tour-Operadores y los servicios de transfer')%></li>
                        <li><%= __('Coordinación con el departamento de Relaciones Públicas para mejorar la oferta de paquete a clientes e informar de las posibilidades de la zona')%></li>
                        <li><%= __('Crear ventas cruzadas de las ofertas internas del hotel')%></li>
                        <li><%= __('Organización del servicio de recogidas en Aeropuertos así como reservas y cancelaciones')%></li>
                    </ul>
                    <p class="date-place">06/2012 – 07/2012 - Lanzarote</p>
                </div>
            </div>
        </section>
        <section class="work">
            <div class="profession">
                <h2><%= __('Sala, Restauración y Bares')%></h2>
                <div class="company"><img src="images/detail/eme.jpg" alt="princesayaiza">
                    <h3 class="name"><%= __('Restaurante Santos')%> - Hotel EME Cathedral *****</h3>
                    <p class="description"><%= __('Responsable de rango en restaurante a la carta.')%></p>
                    <h3>
                        <%= __('Funciones principales:')%>
                    </h3>
                    <ul>
                        <li><%= __('Coordinación trabajadores y extras')%></li>
                        <li><%= __('Preparación del servicio previo')%></li>
                        <li><%= __('Recepción de clientes')%></li>
                        <li><%= __('Informar de la carta así como su composición')%></li>
                        <li><%= __('Servicio general durante las horas de las comidas')%></li>
                        <li><%= __('Preparar el restaurante para eventos especiales')%></li>
                    </ul>
                    <p class="date-place">10/2011 – 11/2011 - <%= __('Sevilla')%>/p>
                </div>
                <div class="company"><img src="images/detail/jardintropical.jpg" alt="princesayaiza">
                    <h3 class="name">Hotel Jardín Tropical ****</h3>
                    <p class="description"><%= __('Responsable de rango en restaurante a la carta y segundo jefe de barra.')%></p>
                    <h3>
                        <%= __('Funciones principales:')%>
                    </h3>
                    <ul>
                        <li><%= __('Conocimiento y preparación de bebidas')%></li>
                        <li><%= __('Creación de nuevos cocktails')%></li>
                        <li><%= __('Conocimiento y preparación de platos a la vista del cliente')%></li>
                        <li><%= __('Preparación del servicio previo')%></li>
                        <li><%= __('Recepción de clientes')%></li>
                        <li><%= __('Informar a la carta así como su composición')%></li>
                        <li><%= __('Servicio general durante las horas de las comidas')%></li>
                        <li><%= __('Preparar el restaurante para eventos especiales')%></li>
                    </ul>
                    <p class="date-place">07/2011 – 09/2011 - Tenerife</p>
                </div>
                <div class="company"><img src="images/detail/tabernaalabardero.jpg" alt="princesayaiza">
                    <h3 class="name"><%= __('Hotel Escuela')%> Taberna del Alabardero ****</h3>
                    <p class="description"><%= __('Camarero tanto de carta como de menú bistró.')%></p>
                    <h3>
                        <%= __('Funciones principales:')%>
                    </h3>
                    <ul>
                        <li><%= __('Preparación del servicio previo')%></li>
                        <li><%= __('Servicio de buffet los Domingos')%></li>
                        <li><%= __('Asistente de barra y cafetería')%></li>
                        <li><%= __('Servicio general durante las horas de las comidas')%></li>
                        <li><%= __('Preparar el restaurante para eventos especiales')%></li>
                    </ul>
                    <p class="date-place">03/2011 – 06/2011 - <%= __('Sevilla')%></p>
                </div>
            </div>
        </section>
        <section class="work">
            <div class="profession">
                <h2><%= __('Cocina y Reposteria')%></h2>
                <div class="company"><img src="images/detail/jardintropical.jpg" alt="princesayaiza">
                    <h3 class="name">Hotel Jardín Tropical ****</h3>
                    <p class="description"><%= __('Jefe de partida de cuarto frío y postres. Restaurante a la carta y buffet.')%>
                    </p>
                    <h3>
                        <%= __('Funciones principales:')%>
                    </h3>
                    <ul>
                        <li><%= __('Ayudar al jefe de cocina y segundo')%></li>
                        <li><%= __('Controlar la partida')%></li>
                        <li><%= __('Planificar y organizar las elaboraciones de dicha partida')%></li>
                        <li><%= __('Emplatar los platos asignados')%></li>
                        <li><%= __('Realizar el inventario de artículos de la partida')%></li>
                        <li><%= __('Preparar y almacenar la materia prima cruda para posterior elaboración')%></li>
                        <li><%= __('Preparación de la mise en place')%></li>
                        <li><%= __('Mantener la limpieza de la partida y sus utensilios')%></li>
                    </ul>
                    <p class="date-place">07/2010 – 09/2010 - Tenerife</p>
                </div>
                <div class="company"><img src="images/detail/tabernaalabardero.jpg" alt="princesayaiza">
                    <h3 class="name"><%= __('Hotel Escuela')%> Taberna del Alabardero ****</h3>
                    <p class="description"><%= __('Cocinero a la carta y de menú bistró, así como de cocina escuela.')%></p>
                    <h3>
                        <%= __('Funciones principales:')%>
                    </h3>
                    <ul>
                        <li><%= __('Preparar menús y calcular las necesidades de alimentos y los costes')%></li>
                        <li><%= __('Controlar, pedir, recibir y almacenar los suministros (de alimentos) y evitar que se estropeen')%></li>
                        <li><%= __('Coordinación con los compañeros')%></li>
                        <li><%= __('Preparación de mise en place')%></li>
                        <li><%= __('Inspeccionar y limpiar la cocina, garantizando la seguridad y las prácticas higiénicas de manejo de alimentos')%></li>
                    </ul>
                    <p class="date-place">03/2010 – 06/2010 - <%= __('Sevilla')%></p>
                </div>
            </div>
        </section>
    </main>


    <%- include ('../partials/footer'); %>