<%- include('../partials/header'); %>
    <ul class="navbar-list">
        <li class="navbar-item"><a href="/">
                <%= __('Currículum')%>
            </a></li>

        <li class="navbar-item"><a href="#contact">
                <%= __('Contacto')%>
            </a></li>
    </ul>
    </nav>
    <header class="header-exp">
        <h1>
            <%= __('Hostelería')%>
        </h1>
    </header>
    <main class="work-exp">

        <section class="work">
            <div class="profession">
                <h2>Administración</h2>
                <div class="company"><img src="images/detail/princesayaiza.jpg" alt="princesayaiza">
                    <h3 class="name">Princesa Yaiza Suite Hotel Resort *****L</h3>
                    <p class="description">Puesto en el departamento de contabilidad y administración gestionando los
                        contratos con diferentes
                        tour-operadores así como la coordinación con el departamento de compras.</p>
                    <h3>
                        <%= __('Funciones principales:')%>
                    </h3>
                    <ul>
                        <li>Trabajo con hojas de cálculo para resúmenes mensuales</li>
                        <li>Coordinación con el departamento comercial en los cobros a los clientes directos de
                            Tour-Operadores</li>
                        <li>Coordinación con el departamento de compras para los pagos a diferentes proveedores</li>
                        <li>Envargado de gestión de los sueldos del personal</li>
                    </ul>
                    <p class="date-place">08/2012 – 10/2012 - Lanzarote</p>
                </div>
            </div>
        </section>
        <section class="work">
            <div class="profession">
                <h2>Recepción</h2>
                <div class="company"><img src="images/detail/princesayaiza.jpg" alt="princesayaiza">
                    <h3 class="name">Princesa Yaiza Suite Hotel Resort *****L</h3>
                    <p class="description">Trabajo de front-office a la espera de la recepción de los clientes y de su
                        ubicación en las instalaciones así como la coordinación de las diferentes actividades.</p>
                    <h3>
                        <%= __('Funciones principales:')%>
                    </h3>
                    <ul>
                        <li>Trabajo con hojas de cálculo para el pricing a los clientes y la contabilidad interna del
                            departamento</li>
                        <li>Coordinación de las llegadas y salidas con los diferentes servicios de Tour-Operadores y los
                            servicios de transfer</li>
                        <li>Coordinación con el departamento de Relaciones Públicas para mejorar la oferta de paquete a
                            clientes e informar de las posibilidades de la zona</li>
                        <li>Crear ventas cruzadas de las ofertas internas del hotel</li>
                        <li>Organización del servicio de recogidas en Aeropuertos así como reservas y cancelaciones</li>
                    </ul>
                    <p class="date-place">06/2012 – 07/2012 - Lanzarote</p>
                </div>
            </div>
        </section>
        <section class="work">
            <div class="profession">
                <h2>Sala, Restauración y Bares </h2>
                <div class="company"><img src="images/detail/eme.jpg" alt="princesayaiza">
                    <h3 class="name">Restaurante Santos - Hotel EME Cathedral *****</h3>
                    <p class="description">Responsable de rango en restaurante a la carta.</p>
                    <h3>
                        <%= __('Funciones principales:')%>
                    </h3>
                    <ul>
                        <li>Coordinación trabajadores y extras</li>
                        <li>Preparación del servicio previo</li>
                        <li>Recepción de clientes</li>
                        <li>Informar a la carta así como su composición</li>
                        <li>Servicio general durante las horas de las comidas</li>
                        <li>Preparar el restaurante para eventos especiales</li>
                    </ul>
                    <p class="date-place">10/2011 – 11/2011 - Sevilla</p>
                </div>
                <div class="company"><img src="images/detail/jardintropical.jpg" alt="princesayaiza">
                    <h3 class="name">Hotel Jardín Tropical ****</h3>
                    <p class="description">Responsable de rango en restaurante a la carta y segundo jefe de barra.</p>
                    <h3>
                        <%= __('Funciones principales:')%>
                    </h3>
                    <ul>
                        <li>Conocimiento y preparación de bebidas</li>
                        <li>Creación de nuevos cocktails</li>
                        <li>Conocimiento y preparación de platos a la vista del cliente</li>
                        <li>Preparación del servicio previo</li>
                        <li>Recepción de clientes</li>
                        <li>Informar a la carta así como su composición</li>
                        <li>Servicio general durante las horas de las comidas</li>
                        <li>Preparar el restaurante para eventos especiales</li>
                    </ul>
                    <p class="date-place">07/2011 – 09/2011 - Tenerife</p>
                </div>
                <div class="company"><img src="images/detail/tabernaalabardero.jpg" alt="princesayaiza">
                    <h3 class="name">Hotel Escuela Taberna del Alabardero ****</h3>
                    <p class="description">Camarero tanto de carta como de menú bistró.</p>
                    <h3>
                        <%= __('Funciones principales:')%>
                    </h3>
                    <ul>
                        <li>Preparación del servicio previo</li>
                        <li>Servicio de buffet los Domingos</li>
                        <li>Asistente de barra y cafetería</li>
                        <li>Servicio general durante las horas de las comidas</li>
                        <li>Preparar el restaurante para eventos especiales</li>
                    </ul>
                    <p class="date-place">03/2011 – 06/2011 - Sevilla</p>
                </div>
            </div>
        </section>
        <section class="work">
            <div class="profession">
                <h2>Cocina y Reposteria</h2>
                <div class="company"><img src="images/detail/jardintropical.jpg" alt="princesayaiza">
                    <h3 class="name">Hotel Jardín Tropical ****</h3>
                    <p class="description">Jefe de partida de cuarto frío y postres. Restaurante a la carta y buffet.
                    </p>
                    <h3>
                        <%= __('Funciones principales:')%>
                    </h3>
                    <ul>
                        <li>Ayudar al jefe de cocina y segundo</li>
                        <li>Controlar la partida</li>
                        <li>Planificar y organizar las elaboraciones de dicha partida</li>
                        <li>Emplatar los platos asignados</li>
                        <li>Realizar el inventario de artículos de la partida</li>
                        <li>Preparar y almacenar la materia prima cruda para posterior elaboración</li>
                        <li>Preparación de la mise em place</li>
                        <li>Mantener la limpieza de la partida y sus utensilios</li>
                    </ul>
                    <p class="date-place">07/2010 – 09/2010 - Tenerife</p>
                </div>
                <div class="company"><img src="images/detail/tabernaalabardero.jpg" alt="princesayaiza">
                    <h3 class="name">Hotel Escuela Taberna del Alabardero ****</h3>
                    <p class="description">Cocinero a la carta y de menú bistró, así como de cocina escuela.</p>
                    <h3>
                        <%= __('Funciones principales:')%>
                    </h3>
                    <ul>
                        <li>Preparar menús y calcular las necesidades de alimentos y los costes</li>
                        <li>Controlar, pedir, recibir y almacenar los suministros (de alimentos) y evitar que se
                            estropeen</li>
                        <li>Coordinación con los compañeros</li>
                        <li>Preparación de mise en place</li>
                        <li>Inspeccionar y limpiar la cocina, garantizando
                            la seguridad y las prácticas higiénicas de manejo de alimentos</li>
                    </ul>
                    <p class="date-place">03/2010 – 06/2010 - Sevilla</p>
                </div>
            </div>
        </section>
    </main>


    <%- include ('../partials/footer'); %>