<%- include('../partials/header'); %>
    <%- include ('../partials/navigation'); %>

        </nav>
        <header id="header" class="header">

            <h1>
                <%= __('Hola, mi nombre es')%> <span>Josué Rubio</span>
                    <%= __('y este es mi currículum')%>.
            </h1>

            <p class="tagline">
                <%= __('tagline 1')%>
                    <strong>Full Stack Web Developer</strong>.
                    <%= __('tagline 2')%>
            </p>

        </header>
        <main>

            <section id="working-experience">
                <h1>
                    <%= __('Experiencia Laboral')%>
                </h1>

                <div class="flex-card-container">

                    <article class="flex-card">
                        <img src="images/experience/web-developer.jpg" alt="Web Developer" />
                        <div class="info-card">
                            <h2>
                                <%= __('Full Stack Web Developer')%>
                            </h2>
                            <span class="cards--two__rect"></span>
                            <p class="description">
                                <%= __('Creación en proceso...')%>
                            </p>
                        </div>
                    </article>

                    <article class="flex-card">
                        <img src="images/experience/management.png" alt="management" />
                        <div class="info-card">
                            <h2>
                                <%= __('Dirección y Operaciones')%>
                            </h2>
                            <p class="description">
                                <%= __('Pulsa para más información')%>
                            </p>
                            <a href="/mng"><button>
                                    <%= __('Ver Experiencia')%>
                                </button></a>
                        </div>
                    </article>

                    <article class="flex-card">
                        <img src="images/experience/plane-world.jpg" alt="TCP" />
                        <div class="info-card">
                            <h2>
                                <%= __('TCP - Azafato de Vuelo')%>
                            </h2>
                            <p class="description">
                                <%= __('Pulsa para más información')%>
                            </p>
                            <a href="/tcp"><button>
                                    <%= __('Ver Experiencia')%>
                                </button></a>
                        </div>
                    </article>

                    <article class="flex-card">
                        <img src="images/experience/hosteleria.jpg" alt="hostelero" />
                        <div class="info-card">
                            <h2>
                                <%= __('Hostelería')%>
                            </h2>
                            <p class="description">
                                <%= __('Pulsa para más información')%>
                            </p>
                            <a href="/host"><button>
                                    <%= __('Ver Experiencia')%>
                                </button></a>
                        </div>
                    </article>
                </div>
            </section>

            <section id="languages" class="inverted">
                <div class="centered">
                    <h1>
                        <%= __('Lenguajes / Idiomas')%>
                    </h1>
                    <div class="two-columns">

                        <div class="people">
                            <h2>
                                <%= __('Para hablar con personas')%>
                            </h2>
                            <img src="images/people.jpg" alt="people" />
                            <div class="skill-name">
                                <%= __('Español')%>
                            </div>
                            <div class="skillbar-outer">
                                <div class="skillbar-inner skill-100">
                                    <%= __('Nativo')%>
                                </div>
                            </div>
                            <div class="skill-name">
                                <%= __('Inglés')%>
                            </div>
                            <div class="skillbar-outer">
                                <div class="skillbar-inner skill-80">
                                    <%= __('C1')%>
                                </div>
                            </div>
                            <div class="skill-name">
                                <%= __('Alemán')%>
                            </div>
                            <div class="skillbar-outer">
                                <div class="skillbar-inner skill-40">
                                    <%= __('A2')%>
                                </div>
                            </div>
                            <div class="skill-name">
                                <%= __('Francés')%>
                            </div>
                            <div class="skillbar-outer">
                                <div class="skillbar-inner skill-20">
                                    <%= __('A1')%>
                                </div>
                            </div>
                        </div>

                        <div class="machines">
                            <h2>
                                <%= __('Para hablar con máquinas')%>
                            </h2>
                            <img src="images/machine.jpg" alt="machine" />
                            <div class="columns">
                                <div class="skill-name">HTML
                                    <div class="skillbar-outer">
                                        <div class="skillbar-inner skill-80"></div>
                                    </div>
                                </div>
                                <div class="skill-name">CSS
                                    <div class="skillbar-outer">
                                        <div class="skillbar-inner skill-70"></div>
                                    </div>
                                </div>
                                <div class="skill-name">JavaScript
                                    <div class="skillbar-outer">
                                        <div class="skillbar-inner skill-60"></div>
                                    </div>
                                </div>
                                <div class="skill-name">React
                                    <div class="skillbar-outer">
                                        <div class="skillbar-inner skill-50"></div>
                                    </div>
                                </div>
                                <div class="skill-name">Express.Js
                                    <div class="skillbar-outer">
                                        <div class="skillbar-inner skill-40"></div>
                                    </div>
                                </div>
                                <div class="skill-name">Node.js
                                    <div class="skillbar-outer">
                                        <div class="skillbar-inner skill-50"></div>
                                    </div>
                                </div>
                                <div class="skill-name">Redux
                                    <div class="skillbar-outer">
                                        <div class="skillbar-inner skill-40"></div>
                                    </div>
                                </div>
                                <div class="skill-name">MongoDB
                                    <div class="skillbar-outer">
                                        <div class="skillbar-inner skill-70"></div>
                                    </div>
                                </div>
                                <div class="skill-name">MySQL
                                    <div class="skillbar-outer">
                                        <div class="skillbar-inner skill-50"></div>
                                    </div>
                                </div>
                                <div class="skill-name">PHP
                                    <div class="skillbar-outer">
                                        <div class="skillbar-inner skill-0">
                                            <%= __('Aprendiendo')%>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="studies">
                <h1>
                    <%= __('Formación')%>
                </h1>

                <div class="grid-container">
                    <article class="grid-item">
                        <h2>
                            <%= __('Bootcamp Full Stack Web')%>
                        </h2>
                        <img src="images/Formación/keepcoding.jpg" alt="Keepcoding" />
                        <p class="formacion-name">
                            <%= __('KeepCoding España')%>
                        </p>
                        <p class="formacion-date">11/2019 - 08/2020</p>
                        <p>
                            <%= __('Madrid (Online)')%>
                        </p>
                    </article>

                    <article class="grid-item">
                        <h2>
                            <%= __('Curso de TCP')%>
                        </h2>
                        <img src="images/Formación/CAE.jpg" alt="CAE" />
                        <p class="formacion-name">
                            <%= __('Escuela de Aeronavegación CAE')%>
                        </p>
                        <p class="formacion-date">10/2013</p>
                        <p>
                            <%= __('Barcelona')%>
                        </p>
                    </article>

                    <article class="grid-item">
                        <h2>
                            <%= __('Postgrado de Especialista en Dirección y Gestión Hotelera')%>
                        </h2>
                        <img src="images/Formación/pabloolavide.jpg" alt="Pablo de Olavide" />
                        <p class="formacion-name">
                            <%= __('Universidad Pablo de Olavide')%>
                        </p>
                        <p class="formacion-date">10/2012 – 06/2013</p>
                        <p>
                            <%= __('Sevilla')%>
                        </p>
                    </article>

                    <article class="grid-item">
                        <h2>
                            <%= __('Título Superior Universitario de Dirección Hotelera')%>
                        </h2>
                        <img src="images/Formación/eshs.jpg" alt="Escuela de hostelería de Sevilla" />
                        <p class="formacion-name">
                            <%= __('Escuela de Hostelería “Taberna del Alabardero”')%>
                        </p>
                        <p class="formacion-date">10/2009 – 06/2013</p>
                        <p>
                            <%= __('Sevilla')%>
                        </p>
                    </article>

                    <!-- <article class="grid-item">
                        <h2>
                            <%= __('Educación Secundaria y Bachillerato')%>
                        </h2>
                        <img src="images/Formación/maristashuelva.jpg" alt="Hermanos Maristas" />
                        <p class="formacion-name">
                            <%= __('Colegio Colón Hermanos Maristas')%>
                        </p>
                        <p>
                            <%= __('Huelva')%>
                        </p>
                    </article> -->
                </div>

            </section>

            <section id="more-data">
                <h1>
                    <%= __('Otros Datos de Interés')%>
                </h1>

                <div class="grid-container-data">
                    <article class="grid-item">
                        <h2>
                            <%= __('Conocimientos extra')%>
                        </h2>
                        <p>
                            <%= __('Familiarizado con Git')%>
                        </p>
                        <p>
                            <%= __('Diseño en Photoshop')%>
                        </p>
                        <p>
                            <%= __('Metodología Agile-SCRUM')%>
                        </p>
                        <p>
                            <%= __('Gestión de MarketPlaces')%>
                        </p>
                        <p>
                            <%= __('Manejo de Linnworks')%>
                        </p>
                        <p>
                            <%= __('Manejo de Trello')%>
                        </p>
                    </article>

                    <article class="grid-item">
                        <h2>
                            <%= __('Intereses')%>
                        </h2>

                        <p>
                            <%= __('Deporte')%>
                        </p>
                        <p>
                            <%= __('Viajes')%>
                        </p>
                        <p>
                            <%= __('Libros')%>
                        </p>
                        <p>
                            <%= __('Videojuegos')%>
                        </p>
                    </article>

                    <article class="grid-item">
                        <h2>
                            <%= __('Curiosidades')%>
                        </h2>
                        <p>
                            <%= __('Maestro cafetero (Pruébame)')%>
                        </p>
                        <p>
                            <%= __('Ganador de concurso de Mates (baloncesto) con 18 años')%>
                        </p>
                        <p>
                            <%= __('Saxofonista')%>
                        </p>
                        <p>
                            <%= __('Tiefling Bardo (También respondo al nombre de Dharcius)')%>
                        </p>
                        <p>
                            <%= __('Orgulloso poseedor de una colección de más de 30 sombreros')%>
                        </p>
                    </article>

                    <article class="grid-item">
                        <h2>
                            <%= __('Movilidad')%>
                        </h2>
                        <p>
                            <%= __('Carnet de conducir')%>
                        </p>
                        <p>
                            <%= __('Vehículo propio')%>
                        </p>
                        <p>
                            <%= __('Total disponibilidad para viajar')%>
                        </p>
                    </article>


                </div>

            </section>



            <%- include ('../partials/footer'); %>