<%- include('../partials/header'); %>
    <%- include ('../partials/navigation'); %>

        </nav>
        <header id="header" class="header">

            <h1>
                <%= __('Hola, mi nombre es')%> <span>Josué Rubio</span>
                    <%= __('y este es mi currículum')%>.
            </h1>

            <p class="tagline">
                <%= __('tagline 1')%>
                    <strong>Full Stack Web Developer</strong>.
                    <%= __('tagline 2')%>
            </p>

        </header>
        <main>

            <section id="working-experience">
                <h1>Experiencia Laboral</h1>

                <div class="flex-card-container">

                    <article class="flex-card">
                        <img src="images/experience/web-developer.jpg" alt="Web Developer" />
                        <div class="info">
                            <h2>Full Stack Web Developer</h2>
                            <span class="cards--two__rect"></span>
                            <p class="description">
                                Creation in progress...
                            </p>
                        </div>
                    </article>

                    <article class="flex-card">
                        <img src="images/experience/management.png" alt="management" />
                        <div class="info">
                            <h2>Dirección y Operaciones</h2>
                            <p class="description">
                                Click for more info
                            </p>
                            <a href="/mng"><button>Ver Experiencia</button></a>
                        </div>
                    </article>

                    <article class="flex-card">
                        <img src="images/experience/plane-world.jpg" alt="TCP" />
                        <div class="info">
                            <h2>TCP - Azafato de Vuelo</h2>
                            <p class="description">
                                Click for more info
                            </p>
                            <a href="/tcp"><button>Ver Experiencia</button></a>
                        </div>
                    </article>

                    <article class="flex-card">
                        <img src="images/experience/hosteleria.jpg" alt="hostelero" />
                        <div class="info">
                            <h2>Hostelero</h2>
                            <p class="description">
                                Click for more info
                            </p>
                            <a href="/host"><button>Ver Experiencia</button></a>
                        </div>
                    </article>
                </div>
            </section>

            <section id="languages" class="inverted">
                <div class="centered">
                    <h1>Lenguajes / Idiomas</h1>
                    <div class="two-columns">

                        <div class="people">
                            <h2>Para hablar con personas</h2>
                            <img src="images/people.jpg" alt="people" />
                            <div class="skill-name">Español</div>
                            <div class="skillbar-outer">
                                <div class="skillbar-inner skill-100"></div>
                            </div>
                            <div class="skill-name">Inglés</div>
                            <div class="skillbar-outer">
                                <div class="skillbar-inner skill-80"></div>
                            </div>
                            <div class="skill-name">Alemán</div>
                            <div class="skillbar-outer">
                                <div class="skillbar-inner skill-40"></div>
                            </div>
                            <div class="skill-name">Francés</div>
                            <div class="skillbar-outer">
                                <div class="skillbar-inner skill-20"></div>
                            </div>
                        </div>

                        <div class="machines">
                            <h2>Para hablar con máquinas</h2>
                            <img src="images/machine.jpg" alt="machine" />
                            <div class="skill-name">HTML</div>
                            <div class="skillbar-outer">
                                <div class="skillbar-inner skill-80"></div>
                            </div>
                            <div class="skill-name">CSS</div>
                            <div class="skillbar-outer">
                                <div class="skillbar-inner skill-40"></div>
                            </div>
                            <div class="skill-name">JavaScript</div>
                            <div class="skillbar-outer">
                                <div class="skillbar-inner skill-60"></div>
                            </div>
                            <div class="skill-name">React</div>
                            <div class="skillbar-outer">
                                <div class="skillbar-inner skill-40"></div>
                            </div>
                            <div class="skill-name">Redux</div>
                            <div class="skillbar-outer">
                                <div class="skillbar-inner skill-40"></div>
                            </div>
                            <div class="skill-name">MongoDB</div>
                            <div class="skillbar-outer">
                                <div class="skillbar-inner skill-80"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="studies">
                <h1>Formación</h1>

                <div class="grid-container">
                    <article class="grid-item">
                        <h2>Bootcamp Full Stack Web</h2>
                        <img src="images/Formación/keepcoding.jpg" alt="Keepcoding" />
                        <p class="formacion-name">KeepCoding España</p>
                        <p class="formacion-date">11/2019 - 08/2020</p>
                        <p>Madrid (Online)</p>
                    </article>

                    <article class="grid-item">
                        <h2>Curso de TCP</h2>
                        <img src="images/formación/cae.jpg" alt="CAE" />
                        <p class="formacion-name">Escuela de Aeronavegación CAE</p>
                        <p class="formacion-date">10/2013</p>
                        <p>Barcelona</p>
                    </article>

                    <article class="grid-item">
                        <h2>Postgrado de Especialista en Dirección y Gestión Hotelera</h2>
                        <img src="images/formación/pabloolavide.jpg" alt="Pablo de Olavide" />
                        <p class="formacion-name">Universidad Pablo de Olavide</p>
                        <p class="formacion-date">10/2012 – 06/2013</p>
                        <p>Sevilla</p>
                    </article>

                    <article class="grid-item">
                        <h2>Título Superior Universitario de Dirección Hotelera</h2>
                        <img src="images/formación/eshs.jpg" alt="Escuela de hostelería de Sevilla" />
                        <p class="formacion-name">Escuela de Hostelería “Taberna del Alabardero”</p>
                        <p class="formacion-date">10/2009 – 06/2013</p>
                        <p>Sevilla</p>
                    </article>

                    <article class="grid-item">
                        <h2>Educación Secundaria y Bachillerato</h2>
                        <img src="images/formación/maristashuelva.jpg" alt="Hermanos Maristas" />
                        <p class="formacion-name">Colegio Colón Hermanos Maristas</p>
                        <p>Huelva</p>
                    </article>
                </div>

            </section>

            <section id="more-data">
                <h1>Otros Datos de Interés</h1>

                <div class="grid-container-data">
                    <article class="grid-item">
                        <h2>Conocimientos extra</h2>
                        <!-- <img src="images/Formación/keepcoding.jpg" alt="Keepcoding" /> -->
                        <p>Diseño en Photoshop</p>
                        <p>Metodología Agile</p>
                        <p>Gestión de MarketPlaces</p>
                        <p>Manejo de Linnworks</p>
                        <p>Manejo de Trello</p>
                    </article>

                    <article class="grid-item">
                        <h2>
                            <%= __('Intereses')%>
                        </h2>

                        <p>Deporte</p>
                        <p>Viajes</p>
                        <p>Libros</p>
                        <p>Videojuegos</p>
                    </article>

                    <article class="grid-item">
                        <h2>Curiosidades</h2>
                        <!-- <img src="images/formación/pabloolavide.jpg" alt="Pablo de Olavide" /> -->
                        <p>Maestro cafetero (Pruébame)</p>
                        <p>Ganador de concurso de Mates (baloncesto) con 18 años</p>
                        <p>Saxofonista</p>
                        <p>Tiefling Bardo (También respondo al nombre de Dharcius)</p>
                        <p>Orgulloso poseedor de una colección de más de 30 sombreros</p>
                    </article>

                    <article class="grid-item">
                        <h2>Movilidad</h2>
                        <!-- <img src="images/formación/eshs.jpg" alt="Escuela de hostelería de Sevilla" /> -->
                        <p>Carnet de conducir</p>
                        <p>Vehículo propio</p>
                        <p>Total disponibilidad para viajar</p>
                    </article>


                </div>

            </section>



            <%- include ('../partials/footer'); %>