<%- include('../partials/header'); %>
    <ul class="navbar-list">
        <li class="navbar-item"><a href="/">
                <%= __('Currículum')%>
            </a></li>

        <li class="navbar-item"><a href="#contact">
                <%= __('Contacto')%>
            </a></li>
    </ul>
    </nav>
    <header class="header-exp">
        <h1>
            <%= __('Dirección y Operaciones')%>
        </h1>
    </header>
    <main class="work-exp">


        <section class="work">
            <div class="profession">
                <h2>CEO</h2>
                <div class="company"><img src="images/detail/wonbu.jpg" alt="wonbu">
                    <h3 class="name">WONBU</h3>
                    <p class="description"><%= __('descripcion CEO')%></p>
                    <h3>
                        <%= __('Funciones principales:')%>
                    </h3>
                    <ul>
                        <li><%= __('Coordinación de los trabajadores')%></li>
                        <li><%= __('Coordinación de los diferentes departamentos')%></li>
                        <li><%= __('Gestor de cuentas')%></li>
                        <li><%= __('Gestión de importaciones y exportaciones')%></li>
                        <li><%= __('Implementación de modelos de funcionamiento para la maximización del trabajo y beneficio')%></li>
                        <li><%= __('Contratación de trabajadores y servicios')%></li>
                        <li><%= __('SCRUM máster')%></li>
                        <li><%= __('Coordinación de transportes con diferentes compañías')%></li>
                        <li><%= __('Trabajo con tecnologías desarrolladas para el sector (Linnworks, e-Desk, Paklink...)')%></li>
                        <li><%= __('Diseño de la web principal de la empresa (A través de Shopify)')%></li>
                        <li><%= __('Revisión de trabajo y beneficio de los diferentes marketplaces (Ebay, Aliexpress, Amazon)')%></li>
                        <li><%= __('Encargado de la maximización de ventas así como de la rentabilidad de los productos')%></li>
                        <li><%= __('Un largo etcétera')%></li>
                    </ul>
                    <p class="date-place">08/2020 – 03/2021 - Huelva</p>
                </div>
            </div>
        </section>

        <section class="work">
            <div class="profession">
                <h2><%= __('Gestor de Operaciones de Tráfico')%></h2>
                <div class="company"><img src="images/detail/gto.jpg" alt="gto">
                    <h3 class="name">Grupo TransOnuba</h3>
                    <p class="description"><%= __('descripcion gestoroperaciones')%></p>
                    <h3>
                        <%= __('Funciones principales:')%>
                    </h3>
                    <ul>
                        <li><%= __('Calcular rutas de los viajes')%></li>
                        <li><%= __('Gestionar las recogidas y entregas en los almacenes')%></li>
                        <li><%= __('Coordinarme con los departamentos de salidas y retornos')%></li>
                        <li><%= __('Organizar los viajes, su carga y sus repartos')%></li>
                        <li><%= __('Desenganchar camiones para la optimización de las horas de disco de los conductores')%></li>
                        <li><%= __('Comunicarme con las diferentes empresas para la adquisición de viajes')%></li>
                        <li><%= __('Solucionar cualquier problema que pueda haber durante el trayecto')%></li>
                        <li><%= __('Gestionar la entrada y salida de los camiones en las bases de Niebla, Salvatierra y Calais')%></li>
                    </ul>
                    <p class="date-place">11/2018 - 11/2019 - Niebla</p>
                </div>
            </div>
        </section>

        <section class="work">
            <div class="profession">
                <h2>COO</h2>
                <div class="company"><img src="images/detail/wonbu.jpg" alt="wonbu">
                    <h3 class="name">WONBU</h3>
                    <p class="description"><%= __('descripcion COO')%></p>
                    <h3>
                        <%= __('Funciones principales:')%>
                    </h3>
                    <ul>
                        <li><%= __('Gestión de los trabajadores')%></li>
                        <li><%= __('Reducción de tiempos de trabajo')%></li>
                        <li><%= __('Innovación dentro del departamento')%></li>
                        <li><%= __('Gestión contable de la empresa')%></li>
                        <li><%= __('Coordinación del trabajo con el CEO')%></li>
                        <li><%= __('Comunicación con el departamento logístico de transporte')%></li>
                        <li><%= __('Gestión de las importaciones y compras')%></li>
                        <li><%= __('Coordinación del trabajo con el equipo informático')%></li>
                        <li><%= __('Diseño de imágenes y estructuras con el departamento de márketing')%></li>
                    </ul>
                    <p class="date-place">02/2017 – 05/2018 - Huelva</p>
                </div>
            </div>
        </section>


    </main>
    <%- include ('../partials/footer'); %>