<%- include('../partials/header'); %>
    <ul class="navbar-list">
        <li class="navbar-item"><a href="/">
                <%= __('Currículum')%>
            </a></li>

        <li class="navbar-item"><a href="#contact">
                <%= __('Contacto')%>
            </a></li>
    </ul>
    </nav>
    <header class="header-exp">
        <h1>
            <%= __('Dirección y Operaciones')%>
        </h1>
    </header>
    <main class="work-exp">


        <section class="work">
            <div class="profession">
                <h2>CEO</h2>
                <div class="company"><img src="images/detail/wonbu.jpg" alt="wonbu">
                    <h3 class="name">WONBU</h3>
                    <p class="description"></p>
                    <h3>
                        <%= __('Funciones principales:')%>
                    </h3>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <p class="date-place">08/2020 – 03/2021 - Huelva</p>
                </div>
            </div>
        </section>

        <section class="work">
            <div class="profession">
                <h2>Gestor de Operaciones de Tráfico</h2>
                <div class="company"><img src="images/detail/gto.jpg" alt="gto">
                    <h3 class="name">Grupo TransOnuba</h3>
                    <p class="description"></p>
                    <h3>
                        <%= __('Funciones principales:')%>
                    </h3>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <p class="date-place">11/2018 - 11/2019 - Niebla</p>
                </div>
            </div>
        </section>

        <section class="work">
            <div class="profession">
                <h2>COO</h2>
                <div class="company"><img src="images/detail/wonbu.jpg" alt="wonbu">
                    <h3 class="name">WONBU</h3>
                    <p class="description">Director de Operaciones de la empresa encargado de la gestión de tiempos de
                        los trabajadores y su rentabilidad, así como la correcta utilización de los medios. Activo en la
                        toma de decisiones de la empresa y gestor principal de las aplicaciones en uso (ReplyManager,
                        Linnworks...)</p>
                    <h3>
                        <%= __('Funciones principales:')%>
                    </h3>
                    <ul>
                        <li>Gestión de los trabajadores</li>
                        <li>Reducción de tiempos de trabajo</li>
                        <li>Innovación dentro del departamento</li>
                        <li>Gestión contable de la empresa</li>
                        <li>Coordinación del trabajo con el CEO</li>
                        <li>Comunicación con el departamento logístico de transporte</li>
                        <li>Gestión de las importaciones y compras</li>
                        <li>Coordinación del trabajo con el equipo informático</li>
                        <li>Diseño de imágenes y estructuras con el departamento de márketing</li>
                    </ul>
                    <p class="date-place">02/2017 – 05/2018 - Huelva</p>
                </div>
            </div>
        </section>


    </main>
    <%- include ('../partials/footer'); %>