<%- include('../partials/header'); %>
    <ul class="navbar-list">
        <li class="navbar-item"><a href="/">
                <%= __('Currículum')%>
            </a></li>

        <li class="navbar-item"><a href="#contact">
                <%= __('Contacto')%>
            </a></li>
    </ul>
    </nav>
    <header class="header-exp">
        <h1>
            <%= __('TCP')%>
        </h1>
    </header>
    <main class="work-exp">


        <section class="work">
            <div class="profession">
                <h2><%= __('Técnico de Cabina de Pasajeros')%></h2>
                <div class="company"><img src="images/detail/vueling.jpg" alt="vueling">
                    <h3 class="name">Vueling Airlines</h3>
                    <p class="description">
                        <%= __('descripcion tcp')%>
                    </p>
                    <h3>
                        <%= __('Funciones principales:')%>
                    </h3>
                    <ul>
                        <li>
                            <%= __('Verificación de todo el material de seguridad, así como realización del inventario')%>
                        </li>
                        <li><%= __('Coordinar posibles operaciones de evacuación y rescate')%></li>
                        <li><%= __('Atender posibles lesiones o heridas que se produzcan durante el vuelo')%></li>
                        <li><%= __('Velar por la seguridad y el orden de los pasajeros')%></li>
                        <li><%= __('Informar a los viajeros de las normas de evacuación y salidas de emergencia')%></li>
                        <li><%= __('Dar información relevante en nombre del piloto y contestar las preguntas de los pasajeros durante el vuelo')%></li>
                        <li><%= __('Dar la bienvenida a los pasajeros y acomodarlos')%></li>
                        <li><%= __('Proporcionar alimentos y bebidas al pasaje durante el vuelo')%></li>
                    </ul>
                    <p class="date-place">03/2014 – 09/2016 - Barcelona</p>
                </div>
            </div>
        </section>


    </main>


    <%- include ('../partials/footer'); %>